<div class="row">
  <div class="col-md-9">
    <form
      *ngIf="info == null"
      (ngSubmit)="onSubmit()"
      [formGroup]="articleForm"
    >
      <div class="form-container">
        <mat-form-field>
          <input
            type="text"
            placeholder="Kategori seç"
            formControlName="category"
            matInput
            [matAutocomplete]="auto"
          />
          <mat-error *ngIf="getControls.category.invalid">
            {{
              myValidationService.getValidatorMessage(
                getControls.category,
                "Kategori"
              )
            }}
          </mat-error>
          <mat-autocomplete
            [displayWith]="displayCategpryName"
            #auto="matAutocomplete"
          >
            <mat-option *ngFor="let item of categories" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            formControlName="title"
            matInput
            placeholder="Makale İsmi"
          />
          <mat-error *ngIf="getControls.title.invalid">
            {{
              myValidationService.getValidatorMessage(
                getControls.title,
                "Makale ismi"
              )
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            formControlName="contentSummary"
            matInput
            placeholder="Makale içerik özet"
          />
          <mat-error *ngIf="getControls.contentSummary.invalid">
            {{
              myValidationService.getValidatorMessage(
                getControls.contentSummary,
                "Makale  özet"
              )
            }}
          </mat-error>
        </mat-form-field>

        <div style="border: 1px solid black" class="mb-2">
          <ckeditor
            formControlName="contentMain"
            (ready)="onReady($event)"
            [editor]="Editor"
          ></ckeditor>
        </div>

        <button [disabled]="loading" mat-raised-button color="primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Makale ekle
        </button>
      </div>
    </form>

    <div role="alert" *ngIf="info != null" class="alert alert-danger mt-3">
      <p>{{ info }}</p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-white bg-primary">
      <div class="card-header">Makale resim</div>
      <div class="card-body">
        <img
          [src]="picture || '../../../../assets/aericle_empty.jpg'"
          class="img-thumbnail"
        />
      </div>
      <div class="card-footer">
        <input
          (change)="upload($event)"
          type="file"
          name="image"
          class="form-control"
        />
      </div>
    </div>
  </div>
</div>
